<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Resolved
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120205
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Resolved by Free CSS Templates</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="assets/templates/Resolved/style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Resolved</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="first current_page_item"><a href="#">Homepage</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Links</a></li>
				<li class="last"><a href="#">Contact</a></li>
			</ul>
			<br class="clearfix" />
		</div>
	</div>
	<div id="page">
		<div id="content">
			<div id="post1">
				<h2>Welcome to Resolved</h2>
				<p>
					This is <strong>Resolved</strong>, a free, fully standards-compliant CSS template by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. The picture in this template is from <a href="http://pdphoto.org">PDPhoto.org</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)
				</p>
			</div>
			<div id="post2">
				<h3>Mollis lorem</h3>
				<p>
					Donec consectetur quisque varius viverra tincidunt consectetur. Pretium nascetur luctus penatibus lobortis ridiculus fusce praesent.
				</p>
				<ul class="list">
					<li class="first"><a href="#">Condimentum sed ligula sodales</a></li>
					<li><a href="#">Sapien nulla blandit libero</a></li>
					<li><a href="#">Pulvinar pretium quisque sollicitudin</a></li>
					<li><a href="#">Porttitor sit gravida scelerisque</a></li>
					<li class="last"><a href="#">Lacus metus id tincidunt</a></li>
				</ul>
			</div>
			<div id="post3">
				<h3>Mollis lorem</h3>
				<ul class="section-list">
					<li class="first"><h4>Parturient mauris amet</h4><span>Nunc suscipit tincidunt lobortis porta placerat ante ridiculus consectetur.</span></li>
					<li><h4>Lorem ipsum dolore</h4><span>Aliquam lorem ipsum id fringilla ultricies veroeros consequat fusce praesent.</span></li>
					<li class="last"><h4>Massa semper fusce</h4><span>Amet curae orci suscipit vestibulum aliquet id fringilla sed tempus ultricies.</span></li>
				</ul>
			</div>
			<br class="clearfix" />
		</div>
		<div id="sidebar">
			<h3>Placerat nullam</h3>
			<div class="date-list">
				<ul class="list date-list">
					<li class="first"><span class="date">Jan 13</span> <a href="#">Ultrices quisque molestie</a></li>
					<li><span class="date">Jan 7</span> <a href="#">Neque dolor eget</a></li>
					<li><span class="date">Jan 1</span> <a href="#">Sollicitudin interdum</a></li>
					<li class="last"><span class="date">Dec 26</span> <a href="#">Varius dignissim</a></li>
				</ul>
			</div>
			<h3>Hendrerit laoreet vivamus</h3>
			<p>
				Urna dis suscipit lorem sed luctus. Elementum suspendisse tempus fermentum ornare libero phasellus nibh conseuqat dolore.
			</p>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">CSS Templates</a>.
</div>
</body>
</html>